.div1 {
  margin-top: 50px;
}
.image {
  background-color: tomato;
  color: white;
  height: 90px;
  width: 90px;
  border-radius: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.b1 {
  background-color: #1b9cbd;
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  height: 50px;
  width: 200px;
  border-radius: 30px;
}

.b2 {
  background-color: #237083;
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  height: 50px;
  width: 200px;
  border-radius: 30px;
}
.icons {
  height: 20px;
  width: 30px;
}
