.card4 {
  background-color: #e8f4f8;
  height: 150vh;
  border-radius: 20px;
  text-align: center;
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  color: black;
  padding: 40px;
}
.timesheet-head{
  margin-top: 20px;
}
.h3{
  text-align: left;
  color: tomato;
  font-weight: bold;
}
.card2 {
  text-align: left;
  margin-left: 30px;
  width: 40%;
}

.image {
  margin-bottom: 20px;
  height: 80px;
  width: 80px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 40px;
  padding-right: 30px;
}
.timesheet-ul{
  list-style-type: none;
  overflow-y: scroll;
  height: 130vh;
}
.div-timesheet{
  margin-top: 70px;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.h6 {
  width: 100px;
}
.p {
  width: 200px;
}
