.b1 {
  background-color: #1b9cbd;
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  height: 50px;
  width: 200px;
  border-radius: 30px;
}

.b2 {
  background-color: #237083;
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  height: 50px;
  width: 200px;
  border-radius: 30px;
}
.icons {
  height: 20px;
  width: 30px;
}

.text1 {
  height: 30px;
  width: 70px;
  margin-right: 20px;
}
.text2 {
  height: 30px;
  width: 100%;
  margin-right: 15px;
}
.card2 {
  height: 500px;
  width: 900px;
}

.center {
  margin-left: 0px;
}
.para34 {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
}

.left {
  margin-left: 0px;
  margin-right: 0px;
}

.center {
  margin-right: 100px;
}
.right {
  margin-right: 200px;
}

.hr1 {
  border: 1px solid grey;
}

.btn4 {
  background-color: #237083;
  border-radius: 20px;
  border-style: solid;
  border-color: black;
  height: 40px;
  width: 90px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px !important;
}
.btn4:hover {
  background-color: green;
  cursor: pointer;
  border-width: 0px;
  color: pink;
}
.padding1 {
  padding-right: 70px;
}
.padding2 {
  padding-right: 80px;
}
.padding3 {
  padding-right: 135px;
}
.padding3 {
  padding-right: 135px;
}
.padding5 {
  padding-right: 113px;
}
.padding4 {
  padding-right: 90px;
}
.padding6 {
  padding-right: 98px;
}
