.btn3 {
  background-color: orange;
  border-radius: 20px;
  border-style: solid;
  border-color: black;
  height: 20px;
  width: 100px;
  cursor: pointer;
}
.btn5 {
  background-color: grey;
  border-radius: 20px;
  border-width: 0px;
  height: 20px;
  width: 100px;
}
.span1 {
  margin-left: 5px;
}
