.b1 {
    background-color: #1b9cbd;
    border: none;
    color: white;
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    height: 50px;
    width: 200px;
    border-radius: 30px;
  }

  .b2 {
    background-color: #237083;
    border: none;
    color: white;
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    height: 50px;
    width: 200px;
    border-radius: 30px;
  }

  .employee-card {
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
      -5px -5px 30px 7px rgba(0, 0, 0, 0.25);
    max-width: 300px;
    max-height: fit-content;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;
    letter-spacing: 0.7px;
    background: rgb(220, 233, 238);
  }
  