.b1 {
    background-color: #1b9cbd;
    border: none;
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    height: 50px;
    width: 200px;
    border-radius: 30px;
  }

  .b2 {
    background-color: #237083;
    border: none;
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    height: 50px;
    width: 200px;
    border-radius: 30px;
  }
  .icons{
      height: 20px;
      width: 30px;
  }