body {background-color:#fafafa}
.rounded {border-radius:0.4rem!important}
.rounded-top {border-radius:0.4rem 0.4rem 0 0!important}
.rounded-bottom {border-radius:0 0 0.4rem 0.4rem!important}

.custom-radio-login {position:relative}
.custom-radio-login input{display:none}
.custom-radio-login label{cursor:pointer;position:relative;box-shadow:0 0 0 2px transparent}


.login-container {
    height: 100vh;
}


.card1{
    background-color: antiquewhite;
  width: 40%;
  height: 40%;
}

.formm{
    height: 30% !important;
    width: 30% !important;
}