body {
  background-color: #fafafa;
}
.rounded {
  border-radius: 0.4rem !important;
}
.rounded-top {
  border-radius: 0.4rem 0.4rem 0 0 !important;
}
.rounded-bottom {
  border-radius: 0 0 0.4rem 0.4rem !important;
}

.custom-radio-login {
  position: relative;
}
.custom-radio-login input {
  display: none;
}
.custom-radio-login label {
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 0 2px transparent;
}

.login-container {
  height: 100vh;
}
.logo1 {
  height: 290px;
  width: 400px;
}

.center {
  margin-left: 290px;
}

.card1-can {
  margin-top: 70px;
  margin-left: 150px;
  width: 40%;
  height: 40%;
  box-shadow: 10px 10px 8px 10px #888888;
}
.card2-can {
  margin-top: 130px;
  margin-left: 80px;
}

.heading {
  color: burlywood;
}
.para1 {
  color: red;
  font-weight: bold;
}

.button1 {
  margin-top: 30px;
  width: 210px;
  height: 50px;
  background-color: burlywood;
  border-color: transparent;
}
.button1:hover {
  cursor: pointer;
  background-color: yellow;
}

.formm {
  height: 30% !important;
  width: 30% !important;
}
