.card40 {
  background-color: #e8f4f8;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  color: black;
}
.card40:hover {
  /* transform:scale(0.9) ; */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.ham {
  float: left;
  padding: 15px 10px 10px 10px;
}

.float-right {
  float: right;
  padding: 15px 10px 10px 10px;
}

.pic {
  width: 100px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  /* box-shadow: 0px 0px 80px 2px rgba(0 0 0 / 1); */
}

.title-1 {
  font-size: 28px;
  color: black;
}

.designation {
  color: #9b9ba5;
}

.desc {
  /* color: rgb(234, 247, 234); */
  color: black;
  margin: 4px;
}

.line {
  /* border: 1px solid rgb(80, 79, 79); */
  border: #9dd0e1;
}

.btn-more {
  width: 150px;
  border-radius: 200px;
  color: white;
  height: 40px;
  text-align: center;
  font-size: 16px;
  margin-top: 0px;
  /* background-color: seagreen; */
  background-color: #61b3cf;
  border-width: 0px;
}

.btn-more:hover {
  cursor: grab;
}

.footer {
  padding: 13px;
}
